<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="https://th.bing.com/th?id=OIP.EYDGBcwdeTjqYc1TQEdNnAHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.6&pid=3.1&rm=2" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>Hi I am Sameer Ali Abbasi I am Front-End-Developer and complete  my first semester From Aptech which includes UI/UX Designs and Process of uploading projects on GIT and custom HTML , CSS projects also</p>
          <p>And I complete my second semester of Back-End-Developer also from Aptech which includes Laravel , Php , and Also the Word press</p>
          <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div>
  </div>
</div>
